* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background: url(images/img.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2 {
    color: #333;
}

.bienvenute {
    color: white;
}

.login-container {
    background: rgb(197, 192, 192);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    display: none;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background: #325f5b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #325f5b;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #325f5b;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #325f5b;
}

/*.logo {
    width: 150px;
    padding-left: 20px;
}*/

footer {
    background-color: #325f5b;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .hero {
        height: 60vh; /* Altura reducida para móviles */
        min-height: 300px;
        background-attachment: scroll; /* Mejor rendimiento en móviles */
    }
    .cards-container {
        grid-template-columns: 1fr;
    }
    
    .hero h1 {
        font-size: 2rem;
    }
}
